button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.marginino-sotto{
    margin-bottom: 10px;
}

.marginino-sopra-sotto{
    margin-top: 10px;
    margin-bottom: 10px;
}

.salvo-bottone-disabled {
    cursor: not-allowed !important;
    opacity: 0.3;
    color: #fff!important;
    background-color: #616161!important;
}

.alert-login {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.w3-red, .w3-hover-red:hover {
    color: #fff!important;
    background-color: rgb(0, 120, 231)!important;
}

.w3-xlarge {
    font-size: 24px!important;
}

.w3-circle {
    border-radius: 50%;
}

.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.margine-alto-dx {
    margin-top: 10px;
    margin-right: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

li {
    cursor: pointer;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

th {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    margin-top: 100px;
    margin-bottom: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.salvo-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.salvo-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.salvo-table td,
.salvo-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}

.salvo-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.salvo-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.salvo-u-1,
.salvo-u-1-1,
.salvo-u-5-5,
.salvo-u-24-24 {
    width: 100%;
}


.salvo-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.salvo-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    margin-bottom: 1em;
}

.salvo-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.salvo-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65) !important;
}

.button-error {
    background: rgb(202, 60, 60) !important;
}

.button-warning {
    background: rgb(223, 117, 20) !important;
}



.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.salvo-menu.salvo-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.salvo-menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.home-menu .salvo-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .salvo-menu-selected a {
    color: white !important;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.salvo-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.salvo-menu-horizontal .salvo-menu-list {
    display: inline-block;
}

.salvo-menu-list,
.salvo-menu-item {
    position: relative;
}

.salvo-menu-scrollable .salvo-menu-list {
    display: block;
}

.salvo-menu-horizontal.salvo-menu-scrollable .salvo-menu-list {
    display: inline-block;
}

.splash-container {
    background: lightblue;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 15px;
    line-height: 1em;
    width: fit-content;
    display: inline-block;
}

.splash-subhead {
    color: black;
    margin-bottom: 0px;
}


@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    .splash-head {
        font-size: 250%;
    }


    .l-box-lrg {
        border: none;
    }

}

body, input {
    text-align: center;
}
form {
    display: inline-block;
}
label, p, h1{
    color: black;
}

.white-center {
    background-color: white;
    width: 51% !important;
}

* {
    font-family: Arial !important;
}

.little-white {
    background-color: white;
    width: 35%;
}

.centra {
    display: inline-block !important;
}

.alert.success {
    background-color: #4CAF50;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius: 10px;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden],
template {
    display: none;
}


a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}


code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}


button,
select {
    text-transform: none;
}



button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}


button[disabled],
html input[disabled] {
    cursor: default;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}


optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.hidden,
[hidden] {
    display: none !important;
}

.salvo-img {
    max-width: 100%;
    height: auto;
    display: block;
}


.salvo-g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    table .salvo-g {
        display: block;
    }
}

.opera-only :-o-prefocus,
.salvo-g {
    word-spacing: -0.43em;
}

.salvo-u {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.salvo-g [class *= "salvo-u"] {
    font-family: sans-serif;
}

.salvo-u-1,
.salvo-u-1-1,
.salvo-u-1-2,
.salvo-u-1-3,
.salvo-u-2-3,
.salvo-u-1-4,
.salvo-u-3-4,
.salvo-u-1-5,
.salvo-u-2-5,
.salvo-u-3-5,
.salvo-u-4-5,
.salvo-u-5-5,
.salvo-u-1-6,
.salvo-u-5-6,
.salvo-u-1-8,
.salvo-u-3-8,
.salvo-u-5-8,
.salvo-u-7-8,
.salvo-u-1-12,
.salvo-u-5-12,
.salvo-u-7-12,
.salvo-u-11-12,
.salvo-u-1-24,
.salvo-u-2-24,
.salvo-u-3-24,
.salvo-u-4-24,
.salvo-u-5-24,
.salvo-u-6-24,
.salvo-u-7-24,
.salvo-u-8-24,
.salvo-u-9-24,
.salvo-u-10-24,
.salvo-u-11-24,
.salvo-u-12-24,
.salvo-u-13-24,
.salvo-u-14-24,
.salvo-u-15-24,
.salvo-u-16-24,
.salvo-u-17-24,
.salvo-u-18-24,
.salvo-u-19-24,
.salvo-u-20-24,
.salvo-u-21-24,
.salvo-u-22-24,
.salvo-u-23-24,
.salvo-u-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.salvo-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.salvo-u-1-12,
.salvo-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.salvo-u-1-8,
.salvo-u-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.salvo-u-1-6,
.salvo-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.salvo-u-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.salvo-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.salvo-u-1-4,
.salvo-u-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.salvo-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.salvo-u-1-3,
.salvo-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.salvo-u-3-8,
.salvo-u-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.salvo-u-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.salvo-u-5-12,
.salvo-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.salvo-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.salvo-u-1-2,
.salvo-u-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.salvo-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.salvo-u-7-12,
.salvo-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.salvo-u-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.salvo-u-5-8,
.salvo-u-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.salvo-u-2-3,
.salvo-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.salvo-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.salvo-u-3-4,
.salvo-u-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.salvo-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.salvo-u-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.salvo-u-5-6,
.salvo-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.salvo-u-7-8,
.salvo-u-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.salvo-u-11-12,
.salvo-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.salvo-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.salvo-u-1,
.salvo-u-1-1,
.salvo-u-5-5,
.salvo-u-24-24 {
    width: 100%;
}
.salvo-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.salvo-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.salvo-button-group {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.salvo-button-group {
    word-spacing: -0.43em;
}

.salvo-button-group .salvo-button {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.salvo-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    color: rgba(0, 0, 0, 0.80);
    border: 1px solid #999;
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 10px;
}

.salvo-button-hover,
.salvo-button:hover,
.salvo-button:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.salvo-button:focus {
    outline: 0;
}
.salvo-button-active,
.salvo-button:active {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}

.salvo-button[disabled],
.salvo-button-disabled,
.salvo-button-disabled:hover,
.salvo-button-disabled:focus,
.salvo-button-disabled:active {
    border: none;
    background-image: none;
    filter: alpha(opacity=40);
    opacity: 0.40;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
}

.salvo-button-hidden {
    display: none;
}

.salvo-button-primary,
.salvo-button-selected,
a.salvo-button-primary,
a.salvo-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.salvo-button-group .salvo-button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.salvo-button-group .salvo-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.salvo-button-group .salvo-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

.salvo-form input[type="text"],
.salvo-form input[type="password"],
.salvo-form input[type="email"],
.salvo-form input[type="url"],
.salvo-form input[type="date"],
.salvo-form input[type="month"],
.salvo-form input[type="time"],
.salvo-form input[type="datetime"],
.salvo-form input[type="datetime-local"],
.salvo-form input[type="week"],
.salvo-form input[type="number"],
.salvo-form input[type="search"],
.salvo-form input[type="tel"],
.salvo-form input[type="color"],
.salvo-form select,
.salvo-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.salvo-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.salvo-form input[type="color"] {
    padding: 0.2em 0.5em;
}


.salvo-form input[type="text"]:focus,
.salvo-form input[type="password"]:focus,
.salvo-form input[type="email"]:focus,
.salvo-form input[type="url"]:focus,
.salvo-form input[type="date"]:focus,
.salvo-form input[type="month"]:focus,
.salvo-form input[type="time"]:focus,
.salvo-form input[type="datetime"]:focus,
.salvo-form input[type="datetime-local"]:focus,
.salvo-form input[type="week"]:focus,
.salvo-form input[type="number"]:focus,
.salvo-form input[type="search"]:focus,
.salvo-form input[type="tel"]:focus,
.salvo-form input[type="color"]:focus,
.salvo-form select:focus,
.salvo-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

.salvo-form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.salvo-form input[type="file"]:focus,
.salvo-form input[type="radio"]:focus,
.salvo-form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}
.salvo-form .salvo-checkbox,
.salvo-form .salvo-radio {
    margin: 0.5em 0;
    display: block;
}

.salvo-form input[type="text"][disabled],
.salvo-form input[type="password"][disabled],
.salvo-form input[type="email"][disabled],
.salvo-form input[type="url"][disabled],
.salvo-form input[type="date"][disabled],
.salvo-form input[type="month"][disabled],
.salvo-form input[type="time"][disabled],
.salvo-form input[type="datetime"][disabled],
.salvo-form input[type="datetime-local"][disabled],
.salvo-form input[type="week"][disabled],
.salvo-form input[type="number"][disabled],
.salvo-form input[type="search"][disabled],
.salvo-form input[type="tel"][disabled],
.salvo-form input[type="color"][disabled],
.salvo-form select[disabled],
.salvo-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

.salvo-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.salvo-form input[readonly],
.salvo-form select[readonly],
.salvo-form textarea[readonly] {
    background-color: #eee;
    color: #777;
    border-color: #ccc;
}

.salvo-form input:focus:invalid,
.salvo-form textarea:focus:invalid,
.salvo-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}
.salvo-form input[type="file"]:focus:invalid:focus,
.salvo-form input[type="radio"]:focus:invalid:focus,
.salvo-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.salvo-form select {
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}
.salvo-form select[multiple] {
    height: auto;
}
.salvo-form label {
    margin: 0.5em 0 0.2em;
}
.salvo-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.salvo-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.salvo-form-stacked input[type="text"],
.salvo-form-stacked input[type="password"],
.salvo-form-stacked input[type="email"],
.salvo-form-stacked input[type="url"],
.salvo-form-stacked input[type="date"],
.salvo-form-stacked input[type="month"],
.salvo-form-stacked input[type="time"],
.salvo-form-stacked input[type="datetime"],
.salvo-form-stacked input[type="datetime-local"],
.salvo-form-stacked input[type="week"],
.salvo-form-stacked input[type="number"],
.salvo-form-stacked input[type="search"],
.salvo-form-stacked input[type="tel"],
.salvo-form-stacked input[type="color"],
.salvo-form-stacked input[type="file"],
.salvo-form-stacked select,
.salvo-form-stacked label,
.salvo-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}


.salvo-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}
.salvo-form-aligned input,
.salvo-form-aligned textarea,
.salvo-form-aligned select,
.salvo-form-aligned .salvo-help-inline,
.salvo-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.salvo-form-aligned textarea {
    vertical-align: top;
}

.salvo-form-aligned .salvo-control-group {
}
.salvo-form-aligned .salvo-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.salvo-form-aligned .salvo-controls {
    margin: 1.5em 0 0 11em;
}

.salvo-form input.salvo-input-rounded,
.salvo-form .salvo-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}

.salvo-form .salvo-group fieldset {
    margin-bottom: 10px;
}
.salvo-form .salvo-group input,
.salvo-form .salvo-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.salvo-form .salvo-group input:focus,
.salvo-form .salvo-group textarea:focus {
    z-index: 3;
}
.salvo-form .salvo-group input:first-child,
.salvo-form .salvo-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
.salvo-form .salvo-group input:first-child:last-child,
.salvo-form .salvo-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0;
}
.salvo-form .salvo-group input:last-child,
.salvo-form .salvo-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.salvo-form .salvo-group button {
    margin: 0.35em 0;
}

.salvo-form .salvo-input-1 {
    width: 100%;
}
.salvo-form .salvo-input-3-4 {
    width: 75%;
}
.salvo-form .salvo-input-2-3 {
    width: 66%;
}
.salvo-form .salvo-input-1-2 {
    width: 50%;
}
.salvo-form .salvo-input-1-3 {
    width: 33%;
}
.salvo-form .salvo-input-1-4 {
    width: 25%;
}

.salvo-form .salvo-help-inline,
.salvo-form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

.salvo-form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
    .salvo-form button[type="submit"] {
        margin: 0.7em 0 0;
    }

    .salvo-form input:not([type]),
    .salvo-form input[type="text"],
    .salvo-form input[type="password"],
    .salvo-form input[type="email"],
    .salvo-form input[type="url"],
    .salvo-form input[type="date"],
    .salvo-form input[type="month"],
    .salvo-form input[type="time"],
    .salvo-form input[type="datetime"],
    .salvo-form input[type="datetime-local"],
    .salvo-form input[type="week"],
    .salvo-form input[type="number"],
    .salvo-form input[type="search"],
    .salvo-form input[type="tel"],
    .salvo-form input[type="color"],
    .salvo-form label {
        margin-bottom: 0.3em;
        display: block;
    }

    .salvo-group input:not([type]),
    .salvo-group input[type="text"],
    .salvo-group input[type="password"],
    .salvo-group input[type="email"],
    .salvo-group input[type="url"],
    .salvo-group input[type="date"],
    .salvo-group input[type="month"],
    .salvo-group input[type="time"],
    .salvo-group input[type="datetime"],
    .salvo-group input[type="datetime-local"],
    .salvo-group input[type="week"],
    .salvo-group input[type="number"],
    .salvo-group input[type="search"],
    .salvo-group input[type="tel"],
    .salvo-group input[type="color"] {
        margin-bottom: 0;
    }

    .salvo-form-aligned .salvo-control-group label {
        margin-bottom: 0.3em;
        text-align: left;
        display: block;
        width: 100%;
    }

    .salvo-form-aligned .salvo-controls {
        margin: 1.5em 0 0 0;
    }

    .salvo-form .salvo-help-inline,
    .salvo-form-message-inline,
    .salvo-form-message {
        display: block;
        font-size: 0.75em;
        padding: 0.2em 0 0.8em;
    }
}

.salvo-menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.salvo-menu-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.salvo-menu-list,
.salvo-menu-item {
    position: relative;
}

.salvo-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.salvo-menu-item {
    padding: 0;
    margin: 0;
    height: 100%;
}

.salvo-menu-link,
.salvo-menu-heading {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.salvo-menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.salvo-menu-horizontal .salvo-menu-list {
    display: inline-block;
}

.salvo-menu-horizontal .salvo-menu-item,
.salvo-menu-horizontal .salvo-menu-heading,
.salvo-menu-horizontal .salvo-menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.salvo-menu-item .salvo-menu-item {
    display: block;
}

.salvo-menu-children {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.salvo-menu-horizontal .salvo-menu-children {
    left: 0;
    top: auto;
    width: inherit;
}

.salvo-menu-allow-hover:hover > .salvo-menu-children,
.salvo-menu-active > .salvo-menu-children {
    display: block;
    position: absolute;
}

.salvo-menu-has-children > .salvo-menu-link:after {
    padding-left: 0.5em;
    content: "\25B8";
    font-size: small;
}

.salvo-menu-horizontal .salvo-menu-has-children > .salvo-menu-link:after {
    content: "\25BE";
}

.salvo-menu-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.salvo-menu-scrollable .salvo-menu-list {
    display: block;
}

.salvo-menu-horizontal.salvo-menu-scrollable .salvo-menu-list {
    display: inline-block;
}

.salvo-menu-horizontal.salvo-menu-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: .5em 0;
}

.salvo-menu-separator,
.salvo-menu-horizontal .salvo-menu-children .salvo-menu-separator {
    background-color: #ccc;
    height: 1px;
    margin: .3em 0;
}

.salvo-menu-horizontal .salvo-menu-separator {
    width: 1px;
    height: 1.3em;
    margin: 0 .3em ;
}

.salvo-menu-horizontal .salvo-menu-children .salvo-menu-separator {
    display: block;
    width: auto;
}

.salvo-menu-heading {
    text-transform: uppercase;
    color: #565d64;
}

.salvo-menu-link {
    color: #777;
}

.salvo-menu-children {
    background-color: #fff;
}

.salvo-menu-link,
.salvo-menu-disabled,
.salvo-menu-heading {
    padding: .5em 1em;
}

.salvo-menu-disabled {
    opacity: .5;
}

.salvo-menu-disabled .salvo-menu-link:hover {
    background-color: transparent;
}

.salvo-menu-active > .salvo-menu-link,
.salvo-menu-link:hover,
.salvo-menu-link:focus {
    background-color: #eee;
}

.salvo-menu-selected > .salvo-menu-link,
.salvo-menu-selected > .salvo-menu-link:visited {
    color: #000;
}

.salvo-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.salvo-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.salvo-table td,
.salvo-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}

.salvo-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}


.salvo-table td {
    background-color: transparent;
}
.salvo-table-odd td {
    background-color: #f2f2f2;
}
.salvo-table-even td {
    background-color: white !important;
}

.salvo-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

.salvo-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.salvo-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


.salvo-table-horizontal td,
.salvo-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.salvo-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}
